SocksPort 0.0.0.0:9050

UseBridges 1

ClientTransportPlugin obfs4 exec /usr/bin/lyrebird

Bridge webtunnel [ipv6]:443 SOMETING url=https://example.com ver=0.0.1
Bridge webtunnel [ipv6]:443 SOMETING url=https://example.com ver=0.0.1
Bridge webtunnel [ipv6]:443 SOMETING url=https://example.com ver=0.0.1

Bridge obfs4 ipv4:port SOMETHING cert=SOMETHING iat-mode=0
Bridge obfs4 ipv4:port SOMETHING cert=SOMETHING iat-mode=1
Bridge obfs4 ipv4:port SOMETHING cert=SOMETHING iat-mode=2
